body {
    background-color: #FDF2E9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #424949;
    margin: 30px;
}

#nav { 
    font-size: 20px;
    font-style: italic;
    margin: 20px;

}

img {
    border: 1px solid #999;
	background-color: #fcfcfc;
	padding: 4px;
    float: left;
    margin-right: 20px;
}

aside {
    margin-right: 30px;
    margin-bottom: 5px;
}

.container {
    padding-left: 50px;
    border-left: 50px;
    border-color: 5px black;
    
}


.containerHobby {
    width:500px;
    background-color:#FDEBD0;
    box-shadow: lightslategray 5px 5px;
    border: 15px;
     
}
.title {
    color: #2471A3;
}

footer {
    background: #1A5276;
    color: #FDEBD0;
    margin-top: 20px;
    padding:5px 10px;
    clear: both;
    width: 100%;
    border: 30px;
    height: 50px;
    text-align: right;
}

.containerAboutMe {
    width: 960px;
    height: 500px;
    width: 80%;

}

.photo {
    height: 250px;
    width: auto;
    
}

.textAboutMe {
    float: left;
}